doctype html
html(lang='en')
    head
    body
        h1 Welcome to PUG Template Engine!
        p This is a paragraphtag and this is a new line
        ul
            li angular
            li node
            li express
            li react