- var friends = 10
case friends
  when 0
    h1 you have no friends
  when 1
    h1 you have a friend
  default
    h1 you have #{friends} friends


- var friends = 0
case friends
  when 0
  when 1
    p you have very few friends
  default
    p you have #{friends} friends


- var friends = 0
case friends
  when 0
    - break
  when 1
    p you have very few friends
  default
    p you have #{friends} friends


- var friends = 1
case friends
  when 0: p you have no friends
  when 1: p you have a friend
  default: p you have #{friends} friends